<footer class="page-footer font-small indigo bg-footer">

    <!-- Footer Links -->
    <div class="container">
  
      <!-- Grid row-->
      <div class="row text-center d-flex justify-content-center pt-5 mb-3">
  
        <!-- Grid column -->
        <div class="col-md-2 mb-3 foot-title">
          <h6 class="text-uppercase font-weight-bold">
            <a class="foot-title" href="#!">About us</a>
          </h6>
        </div>
        <!-- Grid column -->
  
        <!-- Grid column -->
        <div class="col-md-2 mb-3 foot-title">
          <h6 class="text-uppercase font-weight-bold">
            <a class="foot-title" href="#!">Blogs</a>
          </h6>
        </div>
        <!-- Grid column -->
  
        <!-- Grid column -->
        <div class="col-md-2 mb-3 foot-title">
          <h6 class="text-uppercase font-weight-bold">
            <a class="foot-title" href="#!">Contact Us</a>
          </h6>
        </div>
        <!-- Grid column -->
  
      </div>
      <!-- Grid row-->
      <hr class="hr" style="margin: 0 15%;">
  
      <!-- Grid row-->
      <div class="row d-flex text-center justify-content-center mb-md-0 mb-4">
  
        <!-- Grid column -->
        <div class="col-md-8 col-12 mt-5">
          <p class="foot" style="line-height: 1.7rem">Sed ut perspiciatis unde omnis iste natus error sit voluptatem
            accusantium doloremque laudantium, totam rem
            aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt
            explicabo.
            Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur.</p>
        </div>
        <!-- Grid column -->
  
      </div>
      <!-- Grid row-->
      <hr class="clearfix d-md-none rgba-white-light" style="margin: 10% 15% 5%;">
  
      <!-- Grid row-->
      <div class="row pb-3">
  
        <!-- Grid column -->
        <div class="col-md-12">
  
          <div class="mb-5 flex-center social">
  
            <!-- Facebook -->
            <a href="#">
            <i class="fab fa-facebook fa-2x social"></i>
            </a>
            <!-- Twitter -->
            <a href="#">
                <i class="fab fa-twitter fa-2x social"></i>
            </a>
            <!--Linkedin -->
            <a href="#">
                <i class="fab fa-linkedin fa-2x social"></i>
            </a>
            <!--Instagram-->
            <a href="#">
                <i class="fab fa-instagram fa-2x social"></i>
            </a>
          </div>
  
        </div>
        <!-- Grid column -->
  
      </div>
      <!-- Grid row-->
  
    </div>
    <!-- Footer Links -->
  
    <!-- Copyright -->
    <div class="footer-copyright text-center py-3 social">© 2020 Copyright:
      <a href="#"> ArticleAdda.com</a>
    </div>
    <!-- Copyright -->
  
  </footer>
  <!-- Footer -->
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
        integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
        integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
        crossorigin="anonymous"></script>
        
</body>
</html>